<HTML>
<BODY>
<head>
  <title>Restaurant details</title>
</head>
  <img src= "data:<%= r.img.contentType %>;base64,<%= r.img.data %>"><br>
  Restaurant name: <%= r.name %><br>
  Cuisine: <%= r.cuisine %><br>
  Borough: <%= r.borough %><br>
  Street: <%= r.address.street %><br>
  Zipcode: <%= r.address.zipcode %><br>
  Building: <%= r.address.building %><br>
  GPS: [<%= r.address.coord %>]<br>
  Rating:<br>
  <% r.rates.forEach(function(rate) { %>
  <ol><li><%= rate.rate %>(<%= rate.user %>)</li></ol>
  <% });   %><br>
  Create by: <%= r.uploaduser %><br>
<a href=/map?lat=<%= r.address.coord[0] %>&lon=<%= r.address.coord[1] %>&title=<%= r.name %>>Google Map</a><br>
<input type="button" onclick="location.href='/rate?id=<%= r.id %>';" value="Rate" />
<input type="button" onclick="location.href='/edit?id=<%= r.id %>';" value="Edit" />
<input type="button" onclick="location.href='/delete?id=<%= r.id %>';" value="Delete" />
<input type="button" onclick="location.href='/restaurants';" value="Go Back" />
</BODY>
</HTML>
